
.content {
    padding: min(30px, 7%);
    margin-top: 3em;
    background-color: var(--p-background);
}

main p {
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
}

.container {
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    background-color: #FFF;
}


@media(max-width: 800px) {

    .content {
        padding: 2em 1em 60px 1em;
    }

    .container {
        border: none;
        padding: 0;
    }

} 

