
<div class="card">
    <div class="card-image">
        <img [src]="'assets/images/development.jpg'" alt="development" />
        <p class="card-tag"> 
            Development
        </p>
    </div>
    <div class="card-content">
        <h3 class="card-title">
            Best Frontend Frameworks
        </h3>
        <div class="card-footer">
            <div class="card-profile">
                <img [src]="'assets/images/user-1.jpg'" alt srcset>
                <div class="card-profile-info">
                    <span class="card-profile-name">
                        Jessica Chen
                    </span>
                    <span class="card-profile-role">
                        Developer
                    </span>
                </div>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>
    </div>
</div>

<div class="card swiper-slide">
    <div class="card-image">
        <img [src]="'assets/images/design.jpg'" alt="development" />
        <p class="card-tag">
            Design
        </p>
    </div>
    <div class="card-content">
        <h3 class="card-title">
            Modern UI Trends for 2025
        </h3>
        <div class="card-footer">
            <div class="card-profile">
                <img [src]="'assets/images/user-1.jpg'" alt srcset>
                <div class="card-profile-info">
                    <span class="card-profile-name">
                        Alex Smith
                    </span>
                    <span class="card-profile-role">
                        UI Designer
                    </span>
                </div>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>
    </div>
</div>
<div class="card swiper-slide">
    <div class="card-image">
        <img [src]="'assets/images/development.jpg'" alt="development" />
        <p class="card-tag">
            Design
        </p>
    </div>
    <div class="card-content">
        <h3 class="card-title">
            Modern UI Trends for 2025
        </h3>
        <div class="card-footer">
            <div class="card-profile">
                <img [src]="'assets/images/user-1.jpg'" alt srcset>
                <div class="card-profile-info">
                    <span class="card-profile-name">
                        Alex Smith
                    </span>
                    <span class="card-profile-role">
                        UI Designer
                    </span>
                </div>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>
    </div>
</div>
<div class="card swiper-slide">
    <div class="card-image">
        <img [src]="'assets/images/design.jpg'" alt="development" />
        <p class="card-tag">
            Design
        </p>
    </div>
    <div class="card-content">
        <h3 class="card-title">
            Modern UI Trends for 2025
        </h3>
        <div class="card-footer">
            <div class="card-profile">
                <img [src]="'assets/images/user-1.jpg'" alt srcset>
                <div class="card-profile-info">
                    <span class="card-profile-name">
                        Alex Smith
                    </span>
                    <span class="card-profile-role">
                        UI Designer
                    </span>
                </div>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>
    </div>
</div>
<div class="card swiper-slide">
    <div class="card-image">
        <img [src]="'assets/images/development.jpg'" alt="development" />
        <p class="card-tag">
            Design
        </p>
    </div>
    <div class="card-content">
        <h3 class="card-title">
            Modern UI Trends for 2025
        </h3>
        <div class="card-footer">
            <div class="card-profile">
                <img [src]="'assets/images/user-1.jpg'" alt srcset>
                <div class="card-profile-info">
                    <span class="card-profile-name">
                        Alex Smith
                    </span>
                    <span class="card-profile-role">
                        UI Designer
                    </span>
                </div>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>
    </div>
</div>
<div class="card swiper-slide">
    <div class="card-image">
        <img [src]="'assets/images/design.jpg'" alt="development" />
        <p class="card-tag">
            Design
        </p>
    </div>
    <div class="card-content">
        <h3 class="card-title">
            Modern UI Trends for 2025
        </h3>
        <div class="card-footer">
            <div class="card-profile">
                <img [src]="'assets/images/user-1.jpg'" alt srcset>
                <div class="card-profile-info">
                    <span class="card-profile-name">
                        Alex Smith
                    </span>
                    <span class="card-profile-role">
                        UI Designer
                    </span>
                </div>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>
    </div>
</div>
<div class="card swiper-slide">
    <div class="card-image">
        <img [src]="'assets/images/development.jpg'" alt="development" />
        <p class="card-tag">
            Design
        </p>
    </div>
    <div class="card-content">
        <h3 class="card-title">
            Modern UI Trends for 2025
        </h3>
        <div class="card-footer">
            <div class="card-profile">
                <img [src]="'assets/images/user-1.jpg'" alt srcset>
                <div class="card-profile-info">
                    <span class="card-profile-name">
                        Alex Smith
                    </span>
                    <span class="card-profile-role">
                        UI Designer
                    </span>
                </div>
            </div>
            <a href="#" class="card-button">Read More</a>
        </div>
    </div>
</div>